.header {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
  min-height: 75vh;
}
@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    max-width: 600px;
  }
}
.header .text {
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .header .text {
    width: 100%;
    min-height: 75vh;
  }
}
.header .text .main {
  font-size: 70px;
  margin: 0;
}
.header .text .sub {
  font-size: 25px;
}
.header .text .sub b {
  font-weight: normal;
  background-color: #020202;
  color: #ded8d2;
  outline: 3px solid #020202;
}
.header .text .cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}
.header .text .cta .start {
  font-weight: 100;
}
.header .text .cta .start a {
  text-decoration: none;
  background: #020202;
  padding: 15px 20px;
  color: #ded8d2;
  font-weight: 200;
  display: inline-block;
  transition: color 0.2s, background-color 0.2s;
}
.header .text .cta .start a:hover {
  background-color: #353535;
  color: #ded8d2;
}
.header .text .cta .pitch {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}
.header .text .cta .pitch:hover a {
  color: #ded8d2;
  background-color: #020202;
}
.header .text .cta .pitch a {
  transition: color 0.2s, background-color 0.2s;
  color: #020202;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px 10px;
  display: block;
}
.header .preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(50% - 5px);
}
@media screen and (max-width: 800px) {
  .header .preview {
    width: 100%;
    min-height: 75vh;
  }
}
.header .preview .previewinside {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 70vh;
}
.header .preview .previewinside ::-webkit-scrollbar {
  display: none;
}
.header .preview .previewinside .previewcode {
  grid-area: 2 / 2 / 8 / 8;
  background-color: #ded8d2;
  border: 2px solid #020202;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .header .preview .previewinside .previewcode {
    grid-area: 1 / 1 / 8 / 8;
  }
}
@media screen and (max-width: 500px) {
  .header .preview .previewinside .previewcode {
    grid-area: 1 / 1 / 8 / 9;
  }
}
.header .preview .previewinside .previewcode .in {
  top: 10px;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: block;
  overflow: auto;
  tab-size: 2;
  border-radius: 10px;
  background: #020202;
  padding: 10px;
  color: #ded8d2;
}
.header .preview .previewinside .previewcode .in pre {
  margin-top: 0;
  font-size: 16px;
}
.header .preview .previewinside .previewcode .in p {
  line-height: 28px;
  font-size: 24px;
  font-weight: 100;
  margin: 0;
}
.header .preview .previewinside .previewcode .in ::selection {
  background: #ded8d2;
  color: #020202;
}
.header .preview .previewinside .previewui {
  grid-area: 5 / 5 / 11 / 11;
  background-color: #ded8d2;
  border: 2px solid #020202;
  border-radius: 20px;
  padding: 10px;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .header .preview .previewinside .previewui {
    grid-area: 4 / 4 / 11 / 11;
  }
}
@media screen and (max-width: 500px) {
  .header .preview .previewinside .previewui {
    grid-area: 4 / 3 / 11 / 11;
  }
}
.header .preview .previewinside .previewui .previewuiinner {
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
}
.header .preview .previewinside .previewui .previewuiinner .row {
  border-left: 2px solid #020202;
  padding-left: 10px;
  line-height: 1.5;
  display: block;
  line-break: none;
  overflow-x: auto;
  white-space: nowrap;
}
.header .preview .previewinside .previewui .previewuiinner .row .label {
  color: #686868;
  padding-right: 10px;
}
.header .preview .previewinside .previewui .previewuiinner .input {
  display: flex;
  border: 2px solid #020202;
  color: #020202;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 24px);
  background: #ded8d2;
  font-weight: 100;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
.header .preview .previewinside .previewui .previewuiinner .input:focus {
  outline: none;
  border: 2px solid #ded8d2;
  background: #020202;
  color: #ded8d2;
}
